version: '3'

services:
  mongodb:
    image: "mongo:4.4.27-rc0"
    ports:
    - "2717:27017"
    networks:
    - "db-back"

  backend-cont:
    build: './backend'
    depends_on:
    - "mongodb"
    environment:
      HOST_URL: "mongodb"
      DB_PORT: "27017"
    ports:
    - "9090:9090"
    networks:
    - "db-back"
    - "front-back"

  frontend-cont:
    build: './frontend/frontend'
    depends_on:
    - "backend-cont"
    environment:
      BACKEND_SERVICE_URL: "backend-cont:9090"
    ports:
    - "5173:5173"
    networks:
    - "front-back"

networks:
  front-back:
    driver: bridge

  db-back:
    driver: bridge

